<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {%  block head %}
     <link rel="stylesheet" href="http://localhost:9000/css/dashboard.css" type="text/css">
    {% endblock %} 
</head>
<body>

    <main class="dashboard">
        
        <div class="dashboard-options">
               <h3 class="dashboard-optionsTitle">Contracts Aplication</h3>
               <ul class="dashboard-optionsList">
                   <li><i class="fas fa-book"></i><a href="dashboard">Registro</a></li>
                   <li><i class="fas fa-book-open"></i><a href="contract">Contrato</a></li>
                   <li><i class="fab fa-cpanel"></i><a href="panel">Panel</a></li>
               </ul>

        </div>
        
        <div class="dashboard-content">
           {% block content %}{% endblock %}
        </div>

    </main>

     {% block  script  %}{% endblock %}
 </body>
</html>