<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrador</title>
	  <link rel="stylesheet" href="http://localhost:9000/css/admin.css" type="text/css">
</head>
<body>
		<form method="post" class="form"  id="formAdmin">
            <h3>LOGIN ADMINISTRADOR</h3>
                
						<div class="form_admin">
            	<label for="administrador">Usuario</label>
			        <input type="text" name="administrador" id="administrador" required>
			         <i id="icon_admin" class="icon_admin fas"></i>    	
            </div>
			
			      <div class="form_clave">
			        <label for="clave">Clave</label>
			        <input type="password" name="clave" id="clave"  required>
			        <i id="icon_clave" class="icon_clave fas"></i>	
			    </div>
				
				<input type="submit" value="INGRESAR"  class="form_submit">
		</form>
	</fieldset>
	   <script src="http://localhost:9000/js/admin.js"> </script>
</body>
</html>