<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrador</title>
	  <link rel="stylesheet" href="http://localhost:9000/css/admin.css">
</head>
<body>
	<fieldset class="form">
		<p class="form-title">Login Administrador</p>
		<form action="post" class="form-login">
			<div class="form-div">
				<label for="administrador">Usuario</label>
			    <input type="text" name="administrador" id="administrador">
			</div>
			<div class="form-div">
				<label for="clave">Clave</label>
			    <input type="password" name="clave" id="clave" required>
			</div>
			<div class="form-submit">
				<input type="submit" value="Ingresar" required>
			</div>
		</form>
	</fieldset>
	  <script src="http://localhost:9000/js/admin.js"></script>
</body>
</html>