{% extends 'layout.twig' %}



{% block head %}
      {{ parent() }}
       <link rel="stylesheet" href="../dist/css/panel.css" type="text/css">
{%  endblock %}






{% block content %}
  
     <div class="panel">
     	<h3 class="panel-title">Panel Administrador</h3>
        <ul class="panel-list">
        	<li> <a href="#">Docentes</a></li>
        	<li> <a href="#">Escuelas</a></li>
        	<li> <a href="#">Facultad</a></li>
        </ul>

        <div class="panel-facultad">
        	 <form action="" class="panel-facultadForm">
        	 	 <i class="fas fa-search"></i>
        	 	 <input type="text" name="" id="" class="spacing" placeholder="Ingrese Facultad">
        	 	 <input type="submit" value="Buscar">
        	 </form>
        </div>      
  
     </div>
     
     



{% endblock %}

{% block script %}
	<script src="../dist/js/panel.js"> </script>
{% endblock %}	