body{
	background: #F7F7FA;
}

.form{
	display:grid;
	grid-template-columns:50vh;
	margin: 100px auto;
	height:43vh;
	width:500px;
	padding:10px;
	padding-bottom:30px;
	grid-gap: 1em;
    background: white;
    justify-content:center;
}


div > label {
	color:#435a6f;
	font-weight:bold;
}


div > input[type="text"], div > input[type="password"]{
    border-radius:4px;
    border:0px;
    border:1px solid gray;
    outline:none;
    padding:9px;
    width:200px;
}

.form_admin  input[type="text"]{
   margin-left:20px;
}	



.form_clave  input[type="password"]{
   margin-left:34px;
}

.icon_admin,.icon_clave{
	position:relative;
	right:25px;
}





.form > input[type="submit"]{
	 color:white;
	 background:#00B775;
	 border:0px;
	 border-radius:5px;
	 padding:5px;
	 font-weight:bold;
}



.form h3{
	color:#1f4160;
	text-align:center;
}





/*helpers*/

.check{
   color:green;
}


.cross{
	color:red;
}


















